@charset "utf-8";

header{
    background-color: rgb(255, 87, 34);
    height: 100px;
}
#cabecera{
    padding: 0;
}
#nombreErp{
    text-align: center;
    color: rgb(42, 61, 73);

}

.usuario{
    color: rgb(42, 61, 73);
    font-size: 16px;
    font-variant: small-caps;
}
.closeSession{
    padding-left: 5px;
    font-size: 16px;
    font-variant: small-caps;
}

#menu{
    width: 100%;
    padding: 10px 0;
}
#menu nav{
    width: 100%;
    margin:10px 0;
    
}

#menu nav ul{
    padding: 0;
    display: block;
    background-color: rgb(255, 87, 34);
}
#menu nav ul li{
    width: 20%;
    display: inline-block;
    text-align: center;
    list-style: none;
    background-color: rgb(255, 87, 34);
    border: 1px solid rgb(42, 61, 73);

}
#menu nav ul li a{
    width: 100%;
    padding: 10px 0;
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
#menu nav ul li a:hover{
    background-color: rgb(42, 61, 73);
}

#drop{
    display: none;
    width: inherit;
    position:absolute;
    z-index: 1;
    margin-left: -50px;
}
#drop a{
    width: 100%;
    padding: 10px 0;
    display: none;
    text-decoration: none;
    text-align: center;
    background-color: rgb(255, 87, 34);
    color: rgb(255, 255, 255);
}

#main-content{
    padding-top: 20px;
    margin-top: 50px;
    min-height: calc(100vh - 250px);
}

.shops,newShop{
    border-radius: 10px;
    margin: 10px 0;
}

.shops a, .newShop a {
    width: 100%;
    color: rgb(42, 61, 73);
}

.shops a h2, .newShop a h2{
    color: rgb(42, 61, 73);
    margin:0;
}

.shops a img, .newShop a img{
    width: 100%;
}

.active{
    background-color: rgb(42, 61, 73);
}

.menuCategory{
    padding:10px 0; 
    background-color: rgb(255, 87, 34);
    min-height: calc(100vh - 300px);
}

.ulCategories li{
    text-align: center;
    border: 1px solid rgb(255, 87, 34);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}
.ulCategories li a{
    color: rgb(42, 61, 73);
}

.ulCategories li a:hover{
    background-color: rgb(42, 61, 73);
    color:rgb(255, 255, 255);
}

.img img{
    width: 100%;
}
.productInfo{
    padding: 100px;
    font-weight: 700;
}
.description{
    margin-bottom: 10px;
    font-weight: 700;
    position: relative;
}

.datos p{
    font-weight: 700;
}

.ficha{
    color: rgb(42, 61, 73);
    background-color: rgb(255, 87, 34);
    padding: 5px 10px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}

input[type="submit"]{
    background-color: rgb(255, 87, 34);
    color: rgb(255, 255, 255);
    border: 0;
    width: 40%;
    height: 30px;
    border-radius: 10px;
}

.allProduct a img{
    width: 100%;
    height: 250px;
}

#closeWindows{
    position: absolute;
    right: 0;
}

#menuConf ul{
    background-color: rgb(255, 255, 255);
    width: 30%;
    padding: 0;
    margin: auto;
}
#menuConf ul li{    
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
    border: 1px solid rgb(255, 87, 34);
}

#menuConf ul li a{
    text-decoration: none;
    padding-top: 5px;
    height: 30px;
}
#menuConf ul li a:hover{
    background-color: rgb(42, 61, 73);
    color:rgb(255, 255, 255);
}

footer{
    margin-top: 20px;
    background-color: rgb(255, 87, 34);
    text-align: center;
    color: rgb(42, 61, 73);;
}