@charset "utf-8";

header{
    
    background-color: rgb(251, 93, 2);
    height: 100px;
}
#nombreErp{
    text-align: center;
    color: rgb(42, 61, 73);

}
#menu{
    width: 100%;
    padding: 10px 0;
}
#menu nav{
    width: 100%;
    margin:10px 0;
}

#menu nav ul{
    padding: 0;
    display: inline;
}
#menu nav ul li{
    width: 20%;
    display: inline-block;
    text-align: center;
    background-color: rgb(251, 93, 2);
}
#menu nav ul li a{
    width: 100%;
    padding: 10px 0;
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#main-content{
    padding-top: 20px;
    margin-top: 50px;
    min-height: calc(100vh - 250px);
}

.shops{
    border-radius: 10px;
    margin: 10px 0;
}

.shops a {
    width: 100%;
    color: rgb(42, 61, 73);
}

.shops a h2{
    color: rgb(42, 61, 73);
    margin:0;
}

.shops a img{
    width: 100%;
}

.active{
    background-color: rgb(42, 61, 73);
}

#main-content nav{
    padding:10px 0; 
    background-color: rgb(251, 93, 2);
    min-height: calc(100vh - 300px);
}

.ulCategories li{
    text-align: center;
    border: 1px solid rgb(251, 93, 2);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}
.ulCategories li a{
    color: rgb(42, 61, 73);
}

.ulCategories li a:hover{
    background-color: rgb(42, 61, 73);
    color:rgb(255, 255, 255);
}

.img img{
    width: 100%;
}
.productInfo{
    padding: 100px;
    font-weight: 700;
}
.description{
    margin-bottom: 10px;
    font-weight: 700;
    position: relative;
}

.datos p{
    font-weight: 700;
}

.ficha{
    color: rgb(42, 61, 73);
    background-color: rgb(251, 93, 2);
    padding: 5px 10px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}

input[type="submit"]{
    background-color: rgb(251, 93, 2);
    color: rgb(255, 255, 255);
    border: 0;
    width: 40%;
    height: 30px;
    border-radius: 10px;
}

.allProduct a img{
    width: 100%;
    height: 250px;
}

#closeWindows{
    position: absolute;
    right: 0;
}

footer{
    margin-top: 20px;
    background-color: rgb(251, 93, 2);
    text-align: center;
    color: rgb(42, 61, 73);;
}